node_modules
**/dist
website/.astro
**/dist-electron
**/release
**/resources
**/build/*
!**/build/entitlements.mac.plist
!**/build/entitlements.mac.inherit.plist
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
*.log
.DS_Store
.env
**/dev.db

*storybook.log
storybook-static

.agents
skills-lock.json
.vscode
.opencode
graphify-out
