node_modules
**/dist
**/dist-electron
**/release
**/resources
**/build
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
*.log
.DS_Store
.env
**/dev.db

*storybook.log
storybook-static
